body {
    background: linear-gradient(90deg, #ffff, blue)
}

#calcular{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
#limpiar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}